body {
    background-color: rgb(11, 13, 126);
}

/* Heading Section */
.heading {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 6rem;
}


/* Color Boxes */
.container {
    display: flex;
    justify-content: center;
}

.green, .red, .yellow, .purple {
    height: 27vh;
    width: 15vw;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 22%;
}

.green {
    background-color: rgb(0, 87, 29);
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.red {
    background-color: rgb(204, 0, 0);
    margin-bottom: 1rem;
}

.yellow {
    background-color: rgb(217, 255, 0);
}

.purple {
    background-color: rgb(89, 0, 253);
}


/* Javascript Classes */
.boxBlink {
    opacity: 0.2;
    box-shadow: 0px 0px 5px 0px white;
    transition: 0.1s;
}

.shadow {
    box-shadow: 0px 0px 20px 0px white;
    transition: 0.1s;
}

.won-bg {
    background-color: green;
}

.lose-bg {
    background-color: rgb(197, 2, 2);
}